/* UNIVERSAL STYLES */

body {
    background-color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: snow;
    font-size: 14px;
    padding-right: 20px;
    font-style: normal;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: black;
}
h2 {
 font-size: 30px;
 text-align: center;
 color: white;
 padding-top: 100px;
}
h3,
h4,
.flex-container {
    display: flex;#
    justify-content: center;
    flex-wrap: wrap;
}

/* HEADER SECTION */
header {
    width: 100%;
    position: fixed;
    z-index: 0;
    height: 75px;
    background-color: black;
    border-bottom: 1px solid snow;
    align-items: center;
}

header img {
    height: 50px;
    padding-left: 10px;
}
nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

/* MAIN SECTION */



/* MISSION SECTION */

#mission {
height: 500px;
background-image: url(../resources/ben-kolde-bs2Ba7t69mM-unsplash.jpg);
padding-top: 50px;
text-align: center;
opacity: 0.33;
}
